.price{
font-family: Lato;
font-size: 17px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.0015em;
text-align: left;

}
.name{
font-family: Lato;
font-size: 21px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0.0015em;
text-align: left;

}
p{
   
font-family: Lato;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0.004em;
text-align: left;

}
